type awktool_exec, exec_type, file_type;

# Run init.qcom.bt.sh and init.program_bdaddr.sh
allow bluetooth_loader bluetooth_loader_exec:file rx_file_perms;
allow bluetooth_loader self:socket { create ioctl };
allow bluetooth_loader toolbox_exec:file rx_file_perms;
allow bluetooth_loader btnvtool_exec:file execute_no_trans;
allow bluetooth_loader smem_log_device:chr_file rw_file_perms;
allow bluetooth_loader sysfs_bluetooth_writable:file write;
allow bluetooth_loader awktool_exec:file rx_file_perms;

allow bluetooth_loader persist_bluetooth_file:dir search;
allow bluetooth_loader persist_bluetooth_file:file create_file_perms;
