type nv_data_file, file_type;
type sysfs_fingerprint, sysfs_type, fs_type;
type proc_kernel_sched, fs_type;
type proc_touchpanel, fs_type;
type sysfs_performance, sysfs_type, fs_type;
type debugfs_rmt; fs_type;