allow hal_graphics_allocator_default sysfs_graphics:file { getattr open read };
allow hal_graphics_allocator_default sysfs_graphics:dir search;
allow hal_graphics_allocator_default sysfs_graphics:lnk_file read;