allow hal_bluetooth_default bluetooth_data_file:dir ra_dir_perms;
allow hal_bluetooth_default bluetooth_data_file:file create_file_perms;
allow hal_bluetooth_default sysfs_bluetooth_writable:file write;
