allow hal_power_default sysfs_touchscreen:file { open read write };
allow hal_power_default perfd:unix_stream_socket connectto;
allow hal_power_default perfd:process signull;
