allow hal_fingerprint_default tee_device:chr_file { ioctl read write };
allow hal_fingerprint_default sysfs_fingerprint:dir { open read search };
allow hal_fingerprint_default sysfs_fingerprint:file { open read write };
