type init-power-sh, domain;
type init-power-sh_exec, exec_type, file_type;

init_daemon_domain(init-power-sh)

allow init-power-sh shell_exec:file r_file_perms;