# For text relocations in /system/vendor/lib/libmmcamera_faceproc.so
allow mm-qcamerad vendor_file:file execmod;
allow mm-qcamerad sysfs_camera:dir { search };
allow mm-qcamerad sysfs_camera:file { open read write };
allow mm-qcamerad sysfs_camera:lnk_file read;
