allow qti_init_shell kmsg_device:chr_file w_file_perms;
allow qti_init_shell proc_net:dir r_dir_perms;
allow qti_init_shell sysfs_android_usb:file write;
