allow rmt_storage sysfs_nv:file { getattr open read };
allow rmt_storage sysfs_nv:dir { search open read };
allow rmt_storage self:capability net_raw;
