allow system_app proc_touchpanel:file { getattr open write };
allow system_app proc_touchpanel:dir search;
allow system_app wificond:binder call;
allow system_app installd:binder call;
allow system_app netd:binder call;
