allow vendor_init {
  fingerprintd_data_file
}:dir { create search getattr open read setattr ioctl write add_name remove_name rmdir relabelfrom };

# for memory and sched tweaks
allow vendor_init proc_dirty_ratio:file write;
allow vendor_init proc_dirty:file write;
allow vendor_init proc_kernel_sched:file write;
allow vendor_init proc_swap:file write;

# for creating dirs under root
allow vendor_init rootfs:file create_file_perms;
allow vendor_init rootfs:dir create_dir_perms;

# for MBN copy
allow vendor_init radio_data_file:file create_file_perms;
