on init
    chown system system /proc/s1302/virtual_key
    chmod 0660 /proc/s1302/virtual_key

    chown system system /proc/touchpanel/double_swipe
    chmod 0660 /proc/touchpanel/double_swipe
    chown system system /proc/touchpanel/down_swipe
    chmod 0660 /proc/touchpanel/down_swipe
    chown system system /proc/touchpanel/draw_circle
    chmod 0660 /proc/touchpanel/draw_circle
    chown system system /proc/touchpanel/draw_left_v
    chmod 0660 /proc/touchpanel/draw_left_v
    chown system system /proc/touchpanel/draw_reversed_v
    chmod 0660 /proc/touchpanel/draw_reversed_v
    chown system system /proc/touchpanel/draw_right_v
    chmod 0660 /proc/touchpanel/draw_right_v
    chown system system /proc/touchpanel/draw_v
    chmod 0660 /proc/touchpanel/draw_v
    chown system system /proc/touchpanel/left_swipe
    chmod 0660 /proc/touchpanel/left_swipe
    chown system system /proc/touchpanel/right_swipe
    chmod 0660 /proc/touchpanel/right_swipe
    chown system system /proc/touchpanel/up_swipe
    chmod 0660 /proc/touchpanel/up_swipe

service vendor.touch-hal-1-0 /vendor/bin/hw/vendor.lineage.touch@1.0-service.oneplus2
    class hal
    user system
    group system
