on boot
    # execute script to set initial CPU settings
    # don't run as a service to avoid race conditions
    exec - root root system -- /vendor/bin/init.oneplus2.power.sh

on charger
    write /sys/devices/system/cpu/cpu4/online 1
    write /sys/module/msm_thermal/core_control/enabled 0
    write /sys/devices/soc.0/qcom,bcl.62/mode disable
    write /sys/devices/soc.0/qcom,bcl.62/hotplug_mask 0
    write /sys/devices/soc.0/qcom,bcl.62/hotplug_soc_mask 0
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor powersave
    write /sys/devices/system/cpu/cpu1/online 0
    write /sys/devices/system/cpu/cpu2/online 0
    write /sys/devices/system/cpu/cpu3/online 0
    write /sys/devices/system/cpu/cpu4/online 0
    write /sys/devices/system/cpu/cpu5/online 0
    write /sys/devices/system/cpu/cpu6/online 0
    write /sys/devices/system/cpu/cpu7/online 0
    write /sys/module/msm_thermal/core_control/enabled 1
    write /sys/module/lpm_levels/parameters/sleep_disabled 0

service charger /charger
    class charger
    group log
    seclabel u:r:healthd:s0
    writepid /dev/cpuset/system-background/tasks

on property:dev.bootcomplete=1
    setprop sys.io.scheduler "bfq"
