on fs
    wait /dev/block/platform/soc.0/f9824900.sdhci
    symlink /dev/block/platform/soc.0/f9824900.sdhci /dev/block/bootdevice
    setprop sys.usb.ffs.aio_compat 1
    setprop persist.adb.nonblocking_ffs 0
    setprop ro.adb.nonblocking_ffs 0
